.container {
    padding: 20px;
}

form {
    width: 500px;
}

.form-input {
    width: 100%;
}

.form-input>input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #303030;
    padding: 0 10px;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
}