<div class="container">
    <form action="" [formGroup]="formInformation">
        <h1 style="margin-bottom: 10px;">Information</h1>
        <div class="form-input">
            <label for=""> UID:
                <span style="font-weight: 600;">{{this.f['id'].value}}</span>
            </label>
            <hr style="margin-bottom: 10px;">
        </div>
        <div class="form-input">
            <label for=""> E-mail:
                <span style="font-weight: 600;">{{this.f['email'].value}}</span>
            </label>
            <hr style="margin-bottom: 10px;">
        </div>

        <div class="form-input">
            <input type="password" formControlName="password" placeholder="Password">
        </div>

        <div class="form-input">
            <input type="text" formControlName="firstName" placeholder="First name">
            <!-- <span *ngIf="this.f['firstName']." class="message">Incorrect email format!</span> -->
        </div>
        <div class="form-input">
            <input type="text" formControlName="lastName" placeholder="Last name">
        </div>
        <div class="form-input">
            <input type="date" formControlName="dateOfBirth" placeholder="Fate of birth">
        </div>
        <button type="submit" (click)="submit()" [disabled]="!formInformation.valid">Change</button>
    </form>
</div>