<div class="container">
  <h1>Login</h1>
  <form action="" [formGroup]="formLogin">
    <div class="form-input">
      <input type="email" formControlName="email" placeholder="Email">
      <span *ngIf="this.f['email'].hasError('email')" class="message">Incorrect email format!</span>
    </div>
    <div class="form-input">
      <input type="password" formControlName="password" placeholder="Password">
    </div>
    <span *ngIf="isWrong" class="message">Email or password is wrong!</span>
    <button type="submit" (click)="login()" [disabled]="!formLogin.valid">Login</button>
    <div class="footer">
      <span>I dont have account </span>
      <a href="/register">register</a>
  </div>
  </form>
</div>