.container {
    width: 300px;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 10px #c7c7c7;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
}

.form-input>input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #303030;
    padding: 0 10px;
    margin-top: 10px;
}

button {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.message {
    color: red;
    font-size: 11pt;
}

.footer {
    margin-top: 14px;
    font-size: 12px;
}