<div class="container">
    <h1>Register</h1>
    <form action="" [formGroup]="formRegister">
        <div class="form-input">
            <input type="email" formControlName="email" placeholder="E-mail">
            <span *ngIf="this.f['email'].hasError('email')" class="message">Incorrect email format!</span>
        </div>
        <div class="form-input">
            <input type="text" formControlName="firstName" placeholder="First name">
        </div>
        <div class="form-input">
            <input type="text" formControlName="lastName" placeholder="Last name">
        </div>
        <div class="form-input" style="margin-bottom: 20px;">
            <input type="date" formControlName="dateOfBirth" placeholder="Fate of birth">
        </div>

        <div class="form-input">
            <input type="password" formControlName="password" placeholder="Password">
        </div>
        <div class="form-input">
            <input type="password" formControlName="confirmPassword" placeholder="Confirm password">
            <span *ngIf="this.f['password'].value != this.f['confirmPassword'].value" 
                class="message">Confirm password is wrong!</span>
        </div>
        <button type="submit" (click)="submit()" [disabled]="!formRegister.valid">Register</button>
    </form>

    <div class="footer">
        <span>I have account </span>
        <a href="/login">Login</a>
    </div>
</div>