.menu {
    width: calc(100% - 10px);
    margin-right: 10px;
    
    select {
        width: calc(50% - 6px);
        height: 30px;
        border: none;
        outline: none;
        margin: 3px;

        option {
            background-color: #fff;
            font-size: 12pt;
        }
    }
}

.card {
    width: calc(100% / 5 - 10px);
    float: left;
    box-shadow: 10px 10px 10px #c7c7c7;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    margin: 5px;

    .box-img {
        width: 100%;
        height: 160px;
        overflow: hidden;
        text-align: center;

        img {
            height: 100%;
        }
    }

    .box-info {
        width: 100%;
        padding: 10px;

        .btn-add {
            width: calc(50% - 5px);
            margin-right: 5px;
            padding: 5px 0;
            border: 1px solid #00c400be;
            border-radius: 5px;
            background-color: #ffffff;
            cursor: pointer;

            &:hover {
                background-color: #00c400be;
                border: 1px solid #ffffff;
                color: #ffffff;
            }
        }

        .btn-buy {
            width: 50%;
            padding: 5px 0;
            border: 1px solid #ffffff;
            border-radius: 5px;
            background-color: #00c400be;
            cursor: pointer;

            &:hover {
                background-color: #ffffff;
                border: 1px solid #00c400be;
                color: #00c400be;
            }
            
        }

        .is-out {
            color: red;
            font-size: 11pt;
            display: block;
            height: 29px;
        }
        
    }
}

.paging {
    width: 100%;
    float: left;
    margin-top: 20px;

    .more {
        width: 100px;
        text-align: center;
        color: #00c400be;
        cursor: pointer;

        span {
            width: 100px;
            height: 26px;
            display: block;
            border-radius: 50px;
            border: 1px solid #00c400be;

            &:hover {
                background-color: #00c400be;
                color: #ffffff;
            }
        }
    }
}
