<div class="col-3">
    <div class="menu">
        <select [(ngModel)]="sortField" (ngModelChange)="getProducts()">
            <option *ngFor="let sortName of sortNames" [value]="sortName.value">{{sortName.name}}</option>
        </select>
        <select [(ngModel)]="sortType" (ngModelChange)="getProducts()">
            <option *ngFor="let sortType of sortTypes" [value]="sortType.value">{{sortType.name}}</option>
        </select>
    </div>
</div>
<div class="col-9">
    <div class="card" *ngFor="let product of products">
        <div class="box-img">
            <img src="/api/product/get-image?name={{product.image}}" alt="">
        </div>
        <div class="box-info">
            <h4>{{product.name}}</h4>
            <p>{{product.price}} vnđ</p>
            <span class="is-out" *ngIf="!product.totals">hết hàng</span>
            <br>
            <button class="btn-add" *ngIf="product.totals" (click)="addItem(product)">Add</button>
            <button class="btn-buy" *ngIf="product.totals" (click)="buyProduct(product)">Buy</button>
        </div>
    </div>
    
    <div class="paging">
        <div class="more" (click)="more()">
            <span>More</span>
        </div>
    </div>
</div>