/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}