.container {
    width: 80%;
    height: 100%;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

@mixin col {
    height: 100%;
    float: left;
}

.col-3 {
    width: calc(100% / 4);
    @include col;
}

.col-4 {
    width: calc(100% / 3);
    @include col;
}

.col-6 {
    width: calc(100% / 2);
    @include col;
}

.col-9 {
    width: calc(100% / 1.34);
    @include col;
}