<div class="container">
    <div class="box-30">
        <h1>Manager Product</h1>
        <form action="" [formGroup]="formProduct">
            <div class="form-input" *ngIf="this.f['id'].value > 0">
                <label for="">Product ID: 
                    <span style="font-weight: 600;">{{this.f['id'].value}}</span>
                </label>
                <hr style="margin-bottom: 10px;">
                <!-- <span *ngIf="this.f['email'].hasError('email')" class="message">Incorrect email format!</span> -->
            </div>
            <div class="form-input">
                <label for="">Product name</label>
                <input type="text" formControlName="name">
                <!-- <span *ngIf="this.f['email'].hasError('email')" class="message">Incorrect email format!</span> -->
            </div>
            <div class="form-input">
                <label for="">Product price</label>
                <input type="number" formControlName="price">
                <!-- <span *ngIf="this.f['email'].hasError('email')" class="message">Incorrect email format!</span> -->
            </div>
            <div class="form-input">
                <label for="">Product totals</label>
                <input type="number" formControlName="totals">
                <!-- <span *ngIf="this.f['email'].hasError('email')" class="message">Incorrect email format!</span> -->
            </div>

            <div class="box-image">
                <label for="input-file" class="input-image">
                    <img *ngIf="this.f['image'].value && !srcImageFile" 
                        src="/api/product/get-image?name={{this.f['image'].value}}" width="100%">
                    <img *ngIf="srcImageFile" [src]="srcImageFile" width="100%">
                </label>
                <input type="file" id="input-file" style="display: none;" (change)="chooseFile($event.target.files)">
                <div class="infor">
                    <ul *ngIf="imageFile">
                        <li>Name: {{imageFile.name}}</li>
                        <li>Size: {{imageFile.size / 10240}} MB</li>
                        <li>Type: {{imageFile.type}}</li>
                    </ul>
                </div>
            </div>
            <hr>
            <button type="submit" style="background-color: #43ff438a;" 
                (click)="createProduct()" [disabled]="formProduct.invalid">Create</button>
            <button type="submit" style="background-color: #fffc438a;" 
                (click)="updateProduct()" [disabled]="formProduct.invalid || this.f['id'].value < 1">Update</button>
            <button type="submit" style="background-color: #acacac8a;" (click)="clearForm()">Clear</button>
            <button type="submit" style="background-color: #ff43438a;" 
                (click)="deleteProduct()" [disabled]="this.f['id'].value < 1">Delete</button>
        </form>
    </div>
    <div class="box-70">
        <input type="text" class="search" [(ngModel)]="keyWord" 
            (ngModelChange)="getProducts()" placeholder="Search product">
        <table>
            <tr>
                <th (click)="sort('id')">ID
                    <span *ngIf="sortField == 'id' && sortType == 'asc'">⋏</span>
                    <span *ngIf="sortField == 'id' && sortType == 'desc'">⋎</span>
                </th>
                <th>Image</th>
                <th (click)="sort('name')">Name
                    <span *ngIf="sortField == 'name' && sortType == 'asc'">⋏</span>
                    <span *ngIf="sortField == 'name' && sortType == 'desc'">⋎</span>
                </th>
                <th (click)="sort('price')">Price
                    <span *ngIf="sortField == 'price' && sortType == 'asc'">⋏</span>
                    <span *ngIf="sortField == 'price' && sortType == 'desc'">⋎</span>
                </th>
                <th (click)="sort('totals')">Total
                    <span *ngIf="sortField == 'totals' && sortType == 'asc'">⋏</span>
                    <span *ngIf="sortField == 'totals' && sortType == 'desc'">⋎</span>
                </th>
            </tr>
            <tr *ngFor="let product of products" (click)="editProduct(product)" class="item">
                <td>{{product.id}}</td>
                <td style="width: 100px;">
                    <img src="/api/product/get-image?name={{product.image}}">
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.totals}}</td>
            </tr>
        </table>
        <hr style="margin-bottom: 10px;">
        <div class="box-paging">
            <select [(ngModel)]="size" style="float: right;" (ngModelChange)="getProducts()">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="20">20</option>
            </select>
            <div style="float: left;" *ngFor="let p of totalPages">
                <button class="btn-page" (click)="paging(p)" [disabled]="page == p">{{p + 1}}</button>
            </div>
        </div>
    </div>

</div>