.container {
    width: 100%;
    padding: 20px;
}

.box-30 {
    width: 30%;
    float: left;
    background-color: white;
    box-shadow: 10px 10px 10px #c7c7c7;
    border-radius: 10px;
    padding: 20px;
}

.box-70 {
    width: calc(70% - 20px);
    margin-left: 20px;
    float: left;
    background-color: white;
    box-shadow: 10px 10px 10px #c7c7c7;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.form-input>input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #303030;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

form button {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

form button:last-child {
    margin-right: 0;
    float: right;
}

.message {
    color: red;
    font-size: 11pt;
}

table {
    width: 100%;
}

table tr {
    height: 30px;
    transition: 0.2s;
    cursor: pointer;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table .item:hover {
    background-color: #cfcfcf9a;
}

table th {
    text-align: start;
}

table th span {
    color: #646464;
}

table tr img {
    height: 30px;
    transition: 0.5s;
}

table tr img:hover {
    height: 100px;
}

select {
    width: 100px;
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
}

.btn-page {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid gray;
}

.search {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 5px 20px;
}

.input-image {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    overflow: hidden;
}

.box-image {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.box-image>.input-image {
    width: 150px;
    height: 150px;
    float: left;
}
.box-image>.infor {
    width: calc(100% - 160px);
    float: left;
    margin-left: 10px;
}

.box-image>.infor>ul {
    list-style: none;
}

.toash {
    width: 300px;
    position: fixed;
    right: 10px;
}

.toash>li {
    list-style: none;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #00e727;
    border-radius: 10px;
    padding-left: 10px;
    line-height: 50px;
}