<nav>
    <div class="col-3">
        <a href="/home" class="logo">I T S J</a>
    </div>
    <div class="col-6">
        <form>
            <input type="text" class="input-search" [(ngModel)]="keyWord" 
                placeholder="Search..." (ngModelChange)="search()" 
                [ngModelOptions]="{standalone: true}" (keyup.enter)="submit()">
            <button type="submit" class="btn-search" (click)="submit()">
                <img src="https://cdn-icons-png.flaticon.com/512/54/54481.png" height="60%">
            </button>
            <ul class="smenu" *ngFor="let item of searchResult" [hidden]="!searchResult">
                <li>
                    <a href="/home?key-word={{item.name}}">{{item.name}}
                        <span>{{item.price}} vnđ</span>
                    </a>
                </li>
            </ul>
        </form>
    </div>
    <div class="col-3">
        <ul class="items">
            <li class="item">
                <img src="https://cdn-icons-png.flaticon.com/512/2838/2838838.png" alt="">
                <span class="cart-total">{{carts.length}}</span>
                <ul>
                    <li class="user">Cart</li>
                    <li *ngFor="let item of carts" class="item">
                        <div class="header-item">
                            <span class="fl-left">{{item.name}}</span>
                            <span class="fl-right item-price">{{item.price * item.totals}}</span>
                        </div>
                        <div class="body-item">
                            <button (click)="exceptTotal(item.id)">-</button>
                            <span class="item-total">{{item.totals}}</span>
                            <button (click)="plusTotal(item.id)">+</button>
                            <button class="delete-item" (click)="deleteItem(item)">X</button>
                        </div>
                    </li>
                    <li>
                        <div class="total" *ngIf="carts">
                            <button class="btn-buy" (click)="buyProducts()">Buy</button>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="item">
                <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="">
                <ul>
                    <li class="user" *ngIf="user">{{user.firstName + " " + user.lastName}}</li>
                    <li>
                        <a href="/information">Information</a>
                    </li>
                    <li *ngIf="user && user.role == 'ADMIN'">
                        <a href="/dashboard">Admin</a>
                    </li>
                    <li>
                        <a href="/login">Log-out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
