$width-nav: 100%;
$height-nav: 60px;

$color-text-hover: #dbdbdb;

a {
    text-decoration: none;
    color: #000000;
}

nav {
    width: $width-nav;
    height: $height-nav;
    background-color: #fff;
    line-height: $height-nav;
    padding: 0 10%;
    margin-bottom: 20px;

    .logo {
        font-size: 16pt;
        font-weight: 700;
    }

    form {
        width: 100%;
        height: 50%;
        position: relative;

        .input-search {
            width: calc(100% - 50px);
            height: 100%;
            padding: 0 10px;
            border: none;
            border-bottom: 2px solid black;
            outline: none;
            font-size: 12pt;
        }
    
        .btn-search {
            width: 50px;
            height: 100%;
            background-color: #fff;
            border: none;
            border-bottom: 2px solid black;
            cursor: pointer;
        }

        &:focus-within .smenu {
            display: block;
        }

        .smenu {
            width: 100%;
            background-color: #fff;
            line-height: 40px;
            list-style: none;
            display: none;
            z-index: 2;

            li {
                width: 100%;
                padding: 0 10px;
                cursor: pointer;

                &:hover {
                    background-color: #dbdbdb;
                }

                a {
                    display: block;
                }

                span {
                    float: right;
                }
            }
        }
    }

    .items {
        height: 50%;
        list-style: none;
        text-align: end;
        line-height: 68px;

        .item {
            height: 100%;
            display: inline;
            margin-left: 14px;
            cursor: pointer;
            position: relative;

            img {
                height: 64%;
                transition: 0.3s;
            }

            &:hover img {
                opacity: 50%;
            }

            .cart-total {
                color: #fff;
                background-color: red;
                border-radius: 50px;
                font-size: 9pt;
                
                line-height: 14px;
                width: 14px;
                height: 14px;
                text-align: center;

                position: absolute;
                top: -5px;
                right: -5px;
            }

            &:hover ul {
                display: block;
            }

            ul {
                list-style: none;
                width: 100%;
                background-color: #fff;
                line-height: 42px;
                margin-top: -26px;
                display: none;
                float: right;

                .user {
                    background-color: #303030;
                    line-height: 28px;
                    color: #fff;

                    &:hover {
                        background-color: #303030;
                    }
                }

                li {
                    text-align: start;
                    padding: 0 10px;
                    display: block;

                    &:hover {
                        background-color: #dbdbdb;
                    }
                }
            }
        }
    }
}

.header-item {
    width: 70%;
    height: 100%;
    float: left;

    .item-price {
        margin-right: 5px;
    }
}

.body-item {
    width: 30%;
    height: 100%;
    float: left;

    .item-total {
        margin: 0 5px;
    }

    button {
        width: 20px;
        height: 20px;
    }

    .delete-item {
        width: 10px;
        height: 10px;
        float: right;
        border: none;
        background-color: #ffffff;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }
    
}

.total {
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid gray;
    padding-top: 5px;
    float: right;

    .btn-buy {
        width: 100px;
        height: 30px;
        background-color: #00c400be;
        margin-left: 20px;
        float: right;
        border: none;
        cursor: pointer;
    }
}
